{% extends "imagegallery/layout.html" %}
{% load thumbnail %}
{% block title %}Image Gallery{% endblock %}

{% block content %}
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <div class="container">
        {% if images %}
            <div id="links">
            {% for image in images %}
                <a href="{{ image.image.url }}" title="{{ image.comment }}">
                     {% thumbnail image.image '200x200' as im %}
                           <img src='{{ im.url }}'>
                     {% endthumbnail %}
                </a>
            {% endfor %}
            </div>
        {% else %}
            No images yet!
        {% endif %}
    </div>






{% endblock %}
