{% extends 'imagegallery/layout.html' %}
{% block title %}Upload an image{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="well">
                <form action="{% url 'upload' %}" method="post" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <fieldset>
                        <legend>Загрузить изображение</legend>
                        <div class="form-group">
                            <label for="image" class="col-lg-2 control-label">Файл изображения (jpg, png, gif)</label>
                            <div class="col-lg-10">
                                <input id="image" type="file" accept="image/*" class="" name="image">
                                {% if form.image.errors %}
                                <span class="help-block">
                                    <strong>Разрешены только файлы изображений</strong>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="col-lg-2 control-label">Комментарий</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
                                {% if form.comment.errors %}
                                <span class="help-block">
                                    <strong>Пожалуйста, напишите комментарий</strong>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <input type="submit" class="btn btn-primary"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}